body{
    height: 50px;
    background-image: url("/Clinique/assets/img/pediatrie-generale.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.bt2{
    position: relative;
    right: -200px;
    
}

li{
    list-style: none;
    font-weight: bold;
}

ul li{
    position: absolute;
    left: 45%;
    top: 10px;
    color: #fff;
}

.sidebare{
    position: relative;
    bottom: 17px;
}

.btn-danger{
    position: relative;
    left: 150px;
}


.form-box{
    width: 600px;
    background-color: rgb(0, 0, 255, 0.7);
    background-image: url(images/image.jpg);
    margin: 12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0,0, 20px, 2px rgba(0,0,225,0.4);

}

h1{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold 5px;
}

.input-box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    max-height: 500px;
}

::placeholder{
    color: #ccc;
}

.fa-solid{
    margin: 5px;
    cursor: pointer;
}

.eye{
    position: absolute;
}
#hide1{
    display: none;
}
#mask1{
    display: none;
}



.login-btn{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;


}

.droite{
    position: relative;
    left: 340px;
    top: 70px;
}

/* .container{
    max-height: 200px;
} */