body{
     margin: 0px;
     padding: 0px;   
    }

.entête{
        background: #279C4F;
        width: 20%;
        height: 45%;
        display: flex;
       }

.entête img{
    width: 50px;
    height: 53px;
    margin-top: 6px;
    margin-left: 6px;
   } 

.point2{
        background: #279C4F;
        width: 80%;
        height: 10%;
        position: absolute;
        left: 20%;
        top: -1%;
       }
       
.baj
    {
     display: flex;
     margin-top: 1%;
    }
h2
  {
   margin-left: 28%;   
   text-align: center;
  }

#enr2{
      margin-left: 40%;
      margin-top: 2px;
      border-radius: 10px;  
     }

.point3{
        background: #047BF5;
        width: 20%;
        height: 55%;

       } 

.btna1{
       list-style: none;
      }             

.btna{
      display: flex;
      list-style: none;
      gap: 37%;
     } 

#enr1{
      font-size: 10px;
      border-radius: 8px;
     } 

#enr3{
      font-size: 10px;
      border-radius: 8px;
     }

.or
  {
   border: 1px solid black;  auront une bordure de 1px 
   width: 161px;
  }

.colonne
  {
   border: 1px solid black; /* auront une bordure de 1px */
   width: 161px;
  }   

.ligne /* Toutes les cellules des tableaux... */
  {
   border: 1px solid black; /* auront une bordure de 1px */
   width: 161px;
  }

.tableau
        {
         float: right;
         margin-top: -37%;
         margin-right: 4.5%;       
        }     

.formul label
             {
               font-size: 20px;
                margin-left: 2%;
                font-weight: bold;
                margin-top: 2%;

             }       

.formul input{
                    font-size: 25px;
                    width: 80%;
                    border-radius: 10px;
                    margin-left: 2%;
                   }

.modal-header
             {
              background-color: #279C4F;
             }

.fvert
      {
       background-color: #279C4F;
      }                                                    